body{
    font-size: 10px;
}
input{
    display: none;
}
.slider{
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 0.9rem;
    background-color: #2B3034;
    max-width: 800px;
    height: 400px;
    color: white;
}

.slides{
    width: 100%;
    overflow: hidden;
}

.slider__wrapper{
    display: flex;
    padding: 20px;
}

.inner{
    width: 400%;
    height: 300px;
    display: flex;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slide {
    width: 25%;
}

.text{
    margin-top: 40px;
}

.slide_1{
    height: 200px;
    padding: 20px;
    background-image: url("/pictures/mem1.jpg");
    background-size: 100% 100%; 
    border-radius: 25px;
}
.slide_2{
    height: 200px;
    padding: 20px;
    background-image: url("/pictures/mem2.jpg");
    background-size: 100% 100%; 
    border-radius: 25px;
}
.slide_3{
    height: 200px;
    padding: 20px;
    background-image: url("/pictures/mem3.jpg");
    background-size: 100% 100%; 
    border-radius: 25px;
}
.slide_4{
    height: 200px;
    padding: 20px;
    background-image: url("/pictures/mem4.jpg");
    background-size: 100% 100%; 
    border-radius: 25px;
}

.bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #6ed8ff;
    margin: 0 5px;
    cursor: pointer;
}
.bullet:hover{
    background: #ffffff;
}

.bullets{
    position: relative;
    bottom: 70px;
    left: -20px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 500px){
    .bullets{
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
    }
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}